{{#if isLoaded}}
  {{#component componentName data=data}}
    {{yield}}
  {{/component}}
{{else}}
    <div class="{{if isFailed 'ember-remote-component--failed' 'ember-remote-component--loading'}}"></div>
{{/if}}